.features {
  display: flex;
  align-items: center;
  padding: 3rem 0 4rem;
  width: 100%;
  position: relative;
}

.main_docs__icon {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.main_docs__title_block {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.main_docs__grid_container {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1280px) {
  .main_docs__grid_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .main_docs__grid_container {
    grid-template-columns: 1fr;
  }
}